.test {
  margin: 0 auto;
  width: 50%;
}

.question {
  font-size: 32px;
  text-align: center;
  width: 100%;
}

.selectedAnswer {
  font-size: 24px;
  text-align: center;
  width: 70%;
  height: 100px;
  margin: 50px auto;
  width: 100%;
}

.variants {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

.variant {
  color: #000;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  padding: 25px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
}

.correctVariant {
  color: green;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  padding: 25px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
}

.unCorrectVariant {
  color: red;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  padding: 25px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
}

.nextButton {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

@media (max-width: 1025px) {
  .test {
    padding: 5px;
    box-sizing: border-box;
    width: 95%;
  }

  .question {
    font-size: 24px;
  }
}